spring:
    datasource:
        url: jdbc:mysql://springsecurity.c8ldbum0kjxw.us-east-1.rds.amazonaws.com/eazybank
        username: admin
        password:
    jpa:
        properties:
            hibernate:
                ddl-auto: none
                show-sql: true
                format_sql: true
